# This is Jeopardy!

#### Overview

This project is slightly different than others you have encountered thus far. Instead of a step-by-step tutorial, this project contains a series of open-ended requirements which describe the project you'll be building. There are many possible ways to correctly fulfill all of these requirements, and you should expect to use the internet, Codecademy, and/or other resources when you encounter a problem that you cannot easily solve.

#### Project Goals

You will work to write several functions that investigate a dataset of _Jeopardy!_ questions and answers. Filter the dataset for topics that you're interested in, compute the average difficulty of those questions, and train to become the next Jeopardy champion!

## Prerequisites

In order to complete this project, you should have completed the Pandas lessons in the <a href="https://www.codecademy.com/learn/paths/analyze-data-with-python">Analyze Data with Python Skill Path</a>. You can also find those lessons in the <a href="https://www.codecademy.com/learn/data-processing-pandas">Data Analysis with Pandas course</a> or the <a href="https://www.codecademy.com/learn/paths/data-science/">Data Scientist Career Path</a>.

Finally, the <a href="https://www.codecademy.com/learn/practical-data-cleaning">Practical Data Cleaning</a> course may also be helpful.

## Project Requirements

1. We've provided a csv file containing data about the game show _Jeopardy!_ in a file named `jeopardy.csv`. Load the data into a DataFrame and investigate its contents. Try to print out specific columns.

   Note that in order to make this project as "real-world" as possible, we haven't modified the data at all - we're giving it to you exactly how we found it. As a result, this data isn't as "clean" as the datasets you normally find on Codecademy. More specifically, there's something odd about the column names. After you figure out the problem with the column names, you may want to rename them to make your life easier for the rest of the project.
   
   In order to display the full contents of a column, we've added this line of code for you:
   
   ```py
   pd.set_option('display.max_colwidth', None)
   ```

In [134]:
!pip install regex
!pip install word2number

Requirement already satisfied: regex in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (2022.10.31)
Collecting word2number
  Downloading word2number-1.1.zip (9.7 kB)
  Preparing metadata (setup.py) ... done
Building wheels for collected packages: word2number
  Building wheel for word2number (setup.py) ... done
  Created wheel for word2number: filename=word2number-1.1-py3-none-any.whl size=5566 sha256=4049eb517f07363ca28f5c591e5d1bdef52c786271d7decec848e08ea0c7649b
  Stored in directory: /Users/soumyadipsikdar/Library/Caches/pip/wheels/84/ff/26/d3cfbd971e96c5aa3737ecfced81628830d7359b55fbb8ca3b
Successfully built word2number
Installing collected packages: word2number
Successfully installed word2number-1.1

In [201]:
import numpy as np
import pandas as pd
import regex as re
import word2number as w2n
pd.set_option('display.max_colwidth', None)
jeopardy_df = pd.read_csv('jeopardy.csv', parse_dates=[1])
jeopardy_df.rename(columns={" Value":"prize", " Question":"ques"," Air Date":"air_date"," Round":"stage"," Category":"type"," Answer":"ans"},inplace=True)
print(jeopardy_df.head())
print(jeopardy_df.info())

   Show Number   air_date      stage                             type prize  \
0         4680 2004-12-31  Jeopardy!                          HISTORY  $200
1         4680 2004-12-31  Jeopardy!  ESPN's TOP 10 ALL-TIME ATHLETES  $200
2         4680 2004-12-31  Jeopardy!      EVERYBODY TALKS ABOUT IT...  $200
3         4680 2004-12-31  Jeopardy!                 THE COMPANY LINE  $200
4         4680 2004-12-31  Jeopardy!              EPITAPHS & TRIBUTES  $200

                                                                                                          ques  \
0             For the last 8 years of his life, Galileo was under house arrest for espousing this man's theory
1  No. 2: 1912 Olympian; football star at Carlisle Indian School; 6 MLB seasons with the Reds, Giants & Braves
2                     The city of Yuma in this state has a record average of 4,055 hours of sunshine each year
3                         In 1963, live on "The Art Linkletter Show", this company served its billionth burger
4     Signer of the Dec. of Indep., framer of the Constitution of Mass., second President of the United States

          ans
0  Copernicus
1  Jim Thorpe
2     Arizona
3  McDonald's
4  John Adams
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 216930 entries, 0 to 216929
Data columns (total 7 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   Show Number  216930 non-null  int64
 1   air_date     216930 non-null  datetime64[ns]
 2   stage        216930 non-null  object
 3   type         216930 non-null  object
 4   prize        216930 non-null  object
 5   ques         216930 non-null  object
 6   ans          216928 non-null  object
dtypes: datetime64[ns](1), int64(1), object(5)
memory usage: 11.6+ MB
None

In [202]:
def check(keywords,a):
    count=0
    for item in keywords:
        if item.istitle():
            str=a.title()
            if re.search(r' '+item+' ',str):
                count+=1
        elif item.isupper():
            str=a.upper()
            if re.search(r' '+item+' ',str):
                count+=1
        else:
            str=a.lower()
            if re.search(r' '+item+' ',str):
                count+=1
            
    if count==2:
        return True
    else:
        return False
    
ls=["king","England"]
jeopardy_df["words present?"] = jeopardy_df.apply(lambda row:'yes' if check(ls,row['ques']) else 'no',axis=1)
print(jeopardy_df.head())
print(jeopardy_df.info())

   Show Number   air_date      stage                             type prize  \
0         4680 2004-12-31  Jeopardy!                          HISTORY  $200
1         4680 2004-12-31  Jeopardy!  ESPN's TOP 10 ALL-TIME ATHLETES  $200
2         4680 2004-12-31  Jeopardy!      EVERYBODY TALKS ABOUT IT...  $200
3         4680 2004-12-31  Jeopardy!                 THE COMPANY LINE  $200
4         4680 2004-12-31  Jeopardy!              EPITAPHS & TRIBUTES  $200

                                                                                                          ques  \
0             For the last 8 years of his life, Galileo was under house arrest for espousing this man's theory
1  No. 2: 1912 Olympian; football star at Carlisle Indian School; 6 MLB seasons with the Reds, Giants & Braves
2                     The city of Yuma in this state has a record average of 4,055 hours of sunshine each year
3                         In 1963, live on "The Art Linkletter Show", this company served its billionth burger
4     Signer of the Dec. of Indep., framer of the Constitution of Mass., second President of the United States

          ans words present?
0  Copernicus             no
1  Jim Thorpe             no
2     Arizona             no
3  McDonald's             no
4  John Adams             no
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 216930 entries, 0 to 216929
Data columns (total 8 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   Show Number     216930 non-null  int64
 1   air_date        216930 non-null  datetime64[ns]
 2   stage           216930 non-null  object
 3   type            216930 non-null  object
 4   prize           216930 non-null  object
 5   ques            216930 non-null  object
 6   ans             216928 non-null  object
 7   words present?  216930 non-null  object
dtypes: datetime64[ns](1), int64(1), object(6)
memory usage: 13.2+ MB
None

2. Write a function that filters the dataset for questions that contains all of the words in a list of words. For example, when the list `["King", "England"]` was passed to our function, the function returned a DataFrame of 49 rows. Every row had the strings `"King"` and `"England"` somewhere in its `" Question"`.

   Test your function by printing out the column containing the question of each row of the dataset.

In [203]:
df_questions_withwords = jeopardy_df[jeopardy_df['words present?']=='yes'].reset_index()
print(df_questions_withwords.head())
print(df_questions_withwords.ques[:5])

   index  Show Number   air_date             stage                    type  \
0   6337         3517 1999-12-14  Double Jeopardy!                     Y1K
1   9191         3907 2001-09-04  Double Jeopardy!          WON THE BATTLE
2  13454         4726 2005-03-07         Jeopardy!   A NUMBER FROM 1 TO 10
3  18076         3227 1998-09-22  Double Jeopardy!           WORLD HISTORY
4  19168         3109 1998-02-19         Jeopardy!  HISTORIC WORLD LEADERS

   prize  \
0   $800
1   $800
2  $1000
3  $1000
4   $300

                                                                                                     ques  \
0  In retaliation for Viking raids, this "Unready" king of England attacks Norse areas of the Isle of Man
1                This king of England beat the odds to trounce the French in the 1415 Battle of Agincourt
2                                    It's the number that followed the last king of England named William
3         In 1199 this crusader king of England was mortally wounded while besieging the castle of Chalus
4                               He was the only king of England to have "The Great" tacked on to his name

                       ans words present?
0                 Ethelred            yes
1                  Henry V            yes
2                        4            yes
3  Richard the Lionhearted            yes
4                   Alfred            yes
0    In retaliation for Viking raids, this "Unready" king of England attacks Norse areas of the Isle of Man
1                  This king of England beat the odds to trounce the French in the 1415 Battle of Agincourt
2                                      It's the number that followed the last king of England named William
3           In 1199 this crusader king of England was mortally wounded while besieging the castle of Chalus
4                                 He was the only king of England to have "The Great" tacked on to his name
Name: ques, dtype: object

3. Test your original function with a few different sets of words to try to find some ways your function breaks. Edit your function so it is more robust.

   For example, think about capitalization. We probably want to find questions that contain the word `"King"` or `"king"`.
   
   You may also want to check to make sure you don't find rows that contain substrings of your given words. For example, our function found a question that didn't contain the word `"king"`, however it did contain the word `"viking"` &mdash; it found the `"king"` inside `"viking"`. Note that this also comes with some drawbacks &mdash; you would no longer find questions that contained words like `"England's"`.

In [204]:
def truncate(str):
    if 'None' in str:
        z=str.replace('None','0')
        str=z
    char = ['$',',']
    word_to_num_list={"one":'1',"two":'2',"three":'3',"four":'4',"five":'5',"six":'6',"seven":'7',"eight":'8',"nine":'9',"zero":'0'," ":''}
    for item in char:
        if item in str:
            z=str.replace(item,'')
            str=z
    for word in word_to_num_list:
        if word in str:
            z=str.replace(word,word_to_num_list[word])
            str=z
    return str

jeopardy_df['prize']=jeopardy_df['prize'].apply(lambda x:truncate(x))
print(jeopardy_df.head())
print(jeopardy_df.iloc[55])
print(jeopardy_df.prize)

   Show Number   air_date      stage                             type prize  \
0         4680 2004-12-31  Jeopardy!                          HISTORY   200
1         4680 2004-12-31  Jeopardy!  ESPN's TOP 10 ALL-TIME ATHLETES   200
2         4680 2004-12-31  Jeopardy!      EVERYBODY TALKS ABOUT IT...   200
3         4680 2004-12-31  Jeopardy!                 THE COMPANY LINE   200
4         4680 2004-12-31  Jeopardy!              EPITAPHS & TRIBUTES   200

                                                                                                          ques  \
0             For the last 8 years of his life, Galileo was under house arrest for espousing this man's theory
1  No. 2: 1912 Olympian; football star at Carlisle Indian School; 6 MLB seasons with the Reds, Giants & Braves
2                     The city of Yuma in this state has a record average of 4,055 hours of sunshine each year
3                         In 1963, live on "The Art Linkletter Show", this company served its billionth burger
4     Signer of the Dec. of Indep., framer of the Constitution of Mass., second President of the United States

          ans words present?
0  Copernicus             no
1  Jim Thorpe             no
2     Arizona             no
3  McDonald's             no
4  John Adams             no
Show Number                                                                                                4680
air_date                                                                                    2004-12-31 00:00:00
stage                                                                                           Final Jeopardy!
type                                                                                           THE SOLAR SYSTEM
prize                                                                                                         0
ques              Objects that pass closer to the sun than Mercury have been named for this mythological figure
ans                                                                                                      Icarus
words present?                                                                                               no
Name: 55, dtype: object
0          200
1          200
2          200
3          200
4          200
          ...
216925    2000
216926    2000
216927    2000
216928    2000
216929       0
Name: prize, Length: 216930, dtype: object

In [205]:
#here i change the string column "prize" to float
jeopardy_df['prize']=pd.to_numeric(jeopardy_df['prize'])
print(jeopardy_df.head())
print(jeopardy_df.info())

   Show Number   air_date      stage                             type  prize  \
0         4680 2004-12-31  Jeopardy!                          HISTORY    200
1         4680 2004-12-31  Jeopardy!  ESPN's TOP 10 ALL-TIME ATHLETES    200
2         4680 2004-12-31  Jeopardy!      EVERYBODY TALKS ABOUT IT...    200
3         4680 2004-12-31  Jeopardy!                 THE COMPANY LINE    200
4         4680 2004-12-31  Jeopardy!              EPITAPHS & TRIBUTES    200

                                                                                                          ques  \
0             For the last 8 years of his life, Galileo was under house arrest for espousing this man's theory
1  No. 2: 1912 Olympian; football star at Carlisle Indian School; 6 MLB seasons with the Reds, Giants & Braves
2                     The city of Yuma in this state has a record average of 4,055 hours of sunshine each year
3                         In 1963, live on "The Art Linkletter Show", this company served its billionth burger
4     Signer of the Dec. of Indep., framer of the Constitution of Mass., second President of the United States

          ans words present?
0  Copernicus             no
1  Jim Thorpe             no
2     Arizona             no
3  McDonald's             no
4  John Adams             no
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 216930 entries, 0 to 216929
Data columns (total 8 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   Show Number     216930 non-null  int64
 1   air_date        216930 non-null  datetime64[ns]
 2   stage           216930 non-null  object
 3   type            216930 non-null  object
 4   prize           216930 non-null  int64
 5   ques            216930 non-null  object
 6   ans             216928 non-null  object
 7   words present?  216930 non-null  object
dtypes: datetime64[ns](1), int64(2), object(5)
memory usage: 13.2+ MB
None

4. We may want to eventually compute aggregate statistics, like `.mean()` on the `" Value"` column. But right now, the values in that column are strings. Convert the`" Value"` column to floats. If you'd like to, you can create a new column with float values.

   Now that you can filter the dataset of question, use your new column that contains the float values of each question to find the "difficulty" of certain topics. For example, what is the average value of questions that contain the word `"King"`?
   
   Make sure to use the dataset that contains the float values as the dataset you use in your filtering function.

In [211]:

list_with_and_without_word = jeopardy_df.groupby(['words present?']).prize.mean().reset_index()
list_with_and_without_word.rename(columns={"prize":"average worth of questions with word 'King' or 'England'"},inplace=True)
print(list_with_and_without_word)

  words present?  average worth of questions with word 'King' or 'England'
0             no                                                739.970214
1            yes                                                817.647059

5. Write a function that returns the count of unique answers to all of the questions in a dataset. For example, after filtering the entire dataset to only questions containing the word `"King"`, we could then find all of the unique answers to those questions. The answer "Henry VIII" appeared 55 times and was the most common answer.

In [216]:
#print(df_questions_withwords.head())
count_unique_answers_to_questions_with_selectedword = df_questions_withwords.ans.nunique()
list_of_unique_answers = df_questions_withwords.ans.unique()
print("Number of unique answers to questions posed with selected word present\n",count_unique_answers_to_questions_with_selectedword)
print("LIST OF UNIQUE ANSWERS\n",list_of_unique_answers)

Number of unique answers to questions posed with selected word present
 43
LIST OF UNIQUE ANSWERS
 ['Ethelred' 'Henry V' '4' 'Richard the Lionhearted' 'Alfred'
 'Oliver Cromwell' '1066' 'Aethelred the Unready' 'Harold II'
 'Richard I (Richard the Lionhearted)' 'Edward VI' 'William the Conqueror'
 'Henry IV' 'King Hussein' 'Richard III' 'Plantagenet' 'Charles I'
 'Norway' 'Canute' 'Edward' 'George' 'George IV' 'Henry VII'
 'Richard the Lionheart' 'Denmark' 'Georgia' 'IV' 'Richard I' 'James II'
 'King Edward VIII' 'Richard Branson' 'Old King Cole' 'William III'
 'James (I)' 'Henry VIII' 'Battle of Hastings (which Harold II lost)'
 'William' 'Westminster Abbey' 'William II' 'George I' 'Wales'
 'William of Orange roughy' 'Edward VII']

6. Explore from here! This is an incredibly rich dataset, and there are so many interesting things to discover. There are a few columns that we haven't even started looking at yet. Here are some ideas on ways to continue working with this data:

 * Investigate the ways in which questions change over time by filtering by the date. How many questions from the 90s use the word `"Computer"` compared to questions from the 2000s?
 * Is there a connection between the round and the category? Are you more likely to find certain categories, like `"Literature"` in Single Jeopardy or Double Jeopardy?
 * Build a system to quiz yourself. Grab random questions, and use the <a href="https://docs.python.org/3/library/functions.html#input">input</a> function to get a response from the user. Check to see if that response was right or wrong.

## Solution

7. Compare your program to our <a href="https://content.codecademy.com/PRO/independent-practice-projects/jeopardy/jeopardy_solution.zip">sample solution code</a> - remember, that your program might look different from ours (and probably will) and that's okay!

8. Great work! Visit <a href="https://discuss.codecademy.com/t/this-is-jeopardy-challenge-project-python-pandas/462365">our forums</a> to compare your project to our sample solution code. You can also learn how to host your own solution on GitHub so you can share it with other learners! Your solution might look different from ours, and that's okay! There are multiple ways to solve these projects, and you'll learn more by seeing others' code.